* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.circle {
  border: 1px solid gray;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

li {
  display: block;
  /* display: -webkit-box; */
}

#l1 {
  padding-left: 0pt;
}

#l1 > li > *:first-child:before {
  content: "• ";
  color: black;
  font-family: Corbel, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10pt;
  text-rendering: optimizeLegibility;
}

#l2 {
  padding-left: 0pt;
}

#l2 > li > *:first-child:before {
  content: "- ";
  color: black;
  font-family: Corbel, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10pt;
  text-rendering: optimizeLegibility;
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
  overflow-x: auto;
  /* display: -webkit-box; */
}

@page {
  margin: 1cm;
}

h1,
p,
ul,
.container,
.container-fluid,
.text-link,
.text-header,
.text-title {
  color: black;
  font-family: Corbel, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10pt;
  text-rendering: optimizeLegibility;
}

.top-container {
  background: #fff;
  max-width: 21cm;
}

.padding-container {
  background: #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  margin: 0pt;
  max-width: 21cm;
}

h1 {
  color: #767070;
  font-weight: bold;
  font-size: 12pt;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 21cm;
}

.container-table {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 20cm;
}

.text-link {
  color: #0562c1;
  text-decoration: underline;
}

.text-header {
  color: #2d74b5;
  font-weight: bold;
}

.text-title {
  font-weight: bold;
  font-size: 14pt;
}

body {
  background: #eee;
}

@media print {
  .pagebreak {
    break-before: always;
    page-break-before: always;
    -webkit-region-break-inside: avoid;
    page-break-inside: avoid !important;
  }

  header,
  footer,
  aside,
  form,
  … {
    display: none;
  }

  article {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .noprint {
    display: none;
  }

  .toBeReplaced {
    visibility: hidden;
    position: relative;
  }

  .toBeReplaced:after {
    visibility: visible;
    position: relative;
    content: "'";
  }
}
