* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.circle {
    border: 1px solid gray;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1>li>*:first-child:before {
    content: "• ";
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

li {
    display: block;
}

#l2 {
    padding-left: 0pt;
}

#l2>li>*:first-child:before {
    content: "- ";
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
    overflow-x: auto;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
    header,
    footer,
    aside,
    form,
    … {
        display: none;
    }
    article {
        width: 100%!important;
        padding: 0!important;
        margin: 0!important;
    }
}

@page {
    margin: 0.5cm;
}

h1,
p,
ul,
.container,
.text-normal,
.text-link,
.text-header,
.text-title {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

p {
    margin: 0pt;
    max-width: 21cm;
}

h1 {
    color: #767070;
    font-weight: bold;
    font-size: 12pt;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 21cm;
}

.text-link {
    color: #0562C1;
    text-decoration: underline;
}

.text-header {
    color: #2D74B5;
    font-weight: bold;
}

.text-title {
    font-weight: bold;
    font-size: 14pt;
}