* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.circle {
    border: 1px solid gray;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.padding-header {
    padding-left: 10pt;
    text-align: left;
}

.padding-next {
    padding-left: 15pt;
    text-align: left;
}

.s1 {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 14pt;
}

.s2 {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s3 {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    text-align: justify;
}

.s4 {
    color: #0562C1;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    font-size: 10pt;
}

h1 {
    color: #767070;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

p {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
    max-width: 700px;
}

.s5 {
    color: black;
    font-family: Corbel, Lucida, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    text-align: right;
    padding-right: 10pt;
}

.s6 {
    color: #2D74B5;
    font-family: Corbel, Lucida, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

li {
    display: block;
}

#l1 {
    padding-left: 0pt;
}

#l1>li>*:first-child:before {
    content: "• ";
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

li {
    display: block;
}

#l2 {
    padding-left: 0pt;
}

#l2>li>*:first-child:before {
    content: "- ";
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
    overflow-x: auto;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}